body {
    font-family: "Outfit", sans-serif;
    background-color: #ffffff;
    font-optical-sizing: auto;
    margin: 0 auto;
}
header {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center;  */
}
.header_inner {
    width: 1440px;
    max-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.icon {
    width: 32px;
}
.left_header {
    display: flex;
    align-items: center;
    gap: 24px;
}
.right_header {
    display: flex;
    align-items: center;
    gap: 24px;
}
.images{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.email-form{
    display: flex;
   
}
.main-right{
    display: flex;
    align-items: center;
    gap: 24px; 
     background-color: #fff;
      padding: 40px 50px;
      border-radius: 8px;
      box-shadow: 0 0 20px rgba(0,0,0,0.05);
      width: 360px;
    
}
.main-container{
    display: flex;
    justify-content: space-around;
    
}
.text{
    color: rgb(47, 47, 47);
    font-weight: 300;
}
.email-form{
     display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 25px;
}
.input {
    padding: 20px;
    border: none;
    border-bottom: 1px solid #A69999;
}
.image {
    width: 500px;
       display: flex;
       object-fit: cover;
}

.input-style {
    display: flex;
    flex-direction: column;
   justify-content: center;
}

.checkbox-terms {
    display: flex;
    justify-content: space-between;
}

.checkbox-terms2 {
    display: flex;
}

.button {
    border-radius: 10px;
    background: black;
    color: aliceblue;
    height: 50px;
    font-size: 20px;
    border: none;
}