body {
    font-family: "Outfit", sans-serif;
    background-color: #ffffff;
    font-optical-sizing: auto;
    margin: 0 auto;
}
header {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center;  */
}

.main-container{
    justify-content: center;
    align-items: center;
}

.header_inner {
    width: 1440px;
    max-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.icon {
    width: 32px;
}
.left_header {
    display: flex;
    align-items: center;
    gap: 24px;
}
.right_header {
    display: flex;
    align-items: center;
    gap: 24px;
}
.form-login{
      display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.email-form{
     display: flex;
}
 .input {
    padding: 20px;
    border: none;
    border-bottom: 1px solid #A69999;
}
.images {
    width: 600px;
       display: flex;
       object-fit: cover;
}
.input-style {
    display: flex;
    flex-direction: column;
   justify-content: center;
}
.checkbox-terms {
    display: flex;
    justify-content: space-between;
}
.checkbox-terms2 {
    display: flex;
}
.button {
    border-radius: 10px;
    background: black;
    color: aliceblue;
    height: 50px;
    font-size: 20px;
    border: none;
}
.main-container{
    display: flex;
    
}
.bottem-crate-akun{
    display: flex;
    justify-content: center;
}
.sign-up{
    color: black;
    font-weight: 600;
}
.pw{
    color: black;
}
.register{
    display: flex;
    align-items: center;
    justify-content: space-between;
}